@model MM_Invoice_Final.Models.Dto.AddInvoiceToCarDto

<h2>Customer Details</h2>

<div class="container d-flex justify-content-between">
    <div class="left">
        <div class="input-group">
            <label>Customer Name:</label>
            <input value="@Model.CustomerName" />
        </div>
        <div class="input-group">
            <label>Customer Email:</label>
            <input value="@Model.CustomerEmail" />
        </div>
        <div class="input-group">
            <label>Customer #:</label>
            <input value="@Model.CustomerNumber" />
        </div>
    </div>
    <div class="right">
        <div class="input-group">
            <label>Car Rego:</label>
            <input value="@Model.CarRego" />
        </div>
        <div class="input-group">
            <label>Car Make:</label>
            <input value="@Model.CarMake" />
        </div>
        <div class="input-group">
            <label>Car Model:</label>
            <input value="@Model.CarModel" />
        </div>
    </div>
</div>

<form method="post" asp-controller="CustomerCarInvoice" asp-action="AddInvoiceToCar">

    @*Item list Container*@
    <div class="item-list">
        <div>
            <h4>Item List</h4>
        </div>
        <div id="invoiceItems" >
            <div id="invoiceItemsContainer" class="flex-column d-flex mt-2">
                @for (int i = 0; i < Model.AddInvoiceItem.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="@Model.AddInvoiceItem[i].ItemName" class="control-label"></label>
                        <input asp-for="@Model.AddInvoiceItem[i].ItemName" class="form-control input" />
                        <span asp-validation-for="@Model.AddInvoiceItem[i].ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group ms-4">
                        <label asp-for="@Model.AddInvoiceItem[i].Quantity" class="control-label"></label>
                        <input asp-for="@Model.AddInvoiceItem[i].Quantity" class="form-control" />
                        <span asp-validation-for="@Model.AddInvoiceItem[i].Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group ms-4">
                        <label asp-for="@Model.AddInvoiceItem[i].ItemPrice" class="control-label"></label>
                        <input asp-for="@Model.AddInvoiceItem[i].ItemPrice" class="form-control" />
                        <span asp-validation-for="@Model.AddInvoiceItem[i].ItemPrice" class="text-danger"></span>
                    </div>
                }
            </div>
            <button type="button" class="btn btn-secondary" onclick="addItem()">Add Item</button>
        </div>
    </div>

    @*Invoice Details*@
    <div class="invoice-detail-container container d-flex justify-content-between mt-5">
        <div class="left">
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueName" class="control-label"></label>
                <input asp-for="IssueName" class="form-control" />
                <span asp-validation-for="IssueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTerm" class="control-label"></label>
                <input asp-for="PaymentTerm" class="form-control" />
                <span asp-validation-for="PaymentTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="right">
            <div class="form-group">
                <label asp-for="LaborPrice" class="control-label"></label>
                <input asp-for="LaborPrice" class="form-control" />
                <span asp-validation-for="LaborPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueName" class="control-label"></label>
                <input asp-for="IssueName" class="form-control" />
                <span asp-validation-for="IssueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTerm" class="control-label"></label>
                <input asp-for="PaymentTerm" class="form-control" />
                <span asp-validation-for="PaymentTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborPrice" class="control-label"></label>
                <input asp-for="LaborPrice" class="form-control" />
                <span asp-validation-for="LaborPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
    
</form>

<script>
    var itemIndex = 1;

    function addItem() {
        var itemsDiv = document.getElementById('invoiceItemsContainer');
        var newItemDiv = document.createElement('div');
        newItemDiv.innerHTML = `
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input type="text" name="AddInvoiceItem[${itemIndex}].ItemName"  />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="AddInvoiceItem[${itemIndex}].Quantity"  />
                </div>
                <div class="form-group">
                    <label for="itemPrice">Item Price</label>
                    <input type="number" name="AddInvoiceItem[${itemIndex}].ItemPrice" />
                </div>
            `;
        itemsDiv.appendChild(newItemDiv);
        itemIndex++;
    }
</script>